
  <!-- <section class="vbox">this tag is inserted in application layout -->
    <!-- header element -->
    <!-- <section> this tag is inserted in application layout -->
      <!-- <section class="hbox stretch"> this tag is inserted in application layout -->
       
        <section>
          <div class="wrapper">
            <p class="h4">
            This dashboard layout start with a vbox.
            </p>
            <p>You can use the .hbox and .vbox to build the complicated layouts.</p>
          </div>
        </section>
        <aside class="bg-light lter b-l aside-sm">
          <div class="wrapper">aside content</div>
        </aside>
     
    
 <!--  </section> -->
	