

<section id="content">
      <section class="vbox">
        <header class="header bg-dark">
          <p>Create Contests </p>
        </header>
        <section class="scrollable wrapper">
                    

<%= render 'form' %>
   			</section>
        </section>
     </section>