
  <div class="col-md-4 col-md-offset-4 m-t-lg">
        <section class="panel">
          <header class="panel-heading text-center">
            Sign in
          </header>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html=>{ :class=>"panel-body"}) do |f| %>
              
            <div class="form-group">
              <label class="control-label">Email</label>
              <%= f.email_field :email, autofocus: true, :placeholder=>"test@example.com", :class=>"form-control"%>
            </div>
            <div class="form-group">
              <label class="control-label">Password</label>
              <%= f.password_field :password, autocomplete: "off", :id=>"inputPassword", :placeholder=>"Password", :class=>"form-control" %>
              
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Keep me logged in
              </label>
            </div>
            <a href="/users/password/new" class="pull-right m-t-xs"><small>Forgot password?</small></a>
            <button type="submit" class="btn btn-info">Sign in</button>
            <div class="line line-dashed"></div>
            <a href="#" class="btn btn-facebook btn-block m-b-sm"><i class="fa fa-facebook pull-left"></i>Sign in with Facebook</a>
            <a href="#" class="btn btn-twitter btn-block"><i class="fa fa-twitter pull-left"></i>Sign in with Twitter</a>
            <div class="line line-dashed"></div>
            <p class="text-muted text-center"><small>Do not have an account?</small></p>
            <a href="/users/sign_up" class="btn btn-white btn-block">Create an account</a>
          <% end %>
        </section>
      </div>