.icon-larger 
{
	font-size: 32px;
}

.eice-circle-icon
{
	min-height:100px; 
	background-image:url(../images/circle-100x100.png); 
	background-repeat:no-repeat; 
	background-position:center center;
}
.eice-circle-icon > a, .eice-circle-icon > a > i
{
	color:white;
}

.menu-page-title
{
	color:white;
}

.vcenter /* * * * * DOES NOT WORK ! * * * * */
{
	display: inline-block;
	vertical-align: middle;
}

.body-bg-image
{
	background-position:center center; 
	background-repeat: both; 
	background-size: cover;
	background-color:#444444;
}
